# IDE
.idea/
.ipynb_checkpoints/
.mypy_cache/
.vscode/

# Python
__pycache__/
.pytest_cache/
htmlcov/
dist/
site/
.coverage*
coverage.xml

# Databases
test.db
log.txt

# Environment
.env
.env.*
env3.*
.venv/
Pipfile.lock

# Documentation
docs_build/
site_build/
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?

# macOS
.DS_Store

# Dependencies
/node_modules/
/.pnp
.pnp.js

# Production
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*